precinct_splits.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- working version of VIP schema based on 3.0 for comments
    changed all id types to string
    added ocdid to district 
    reference elements for polling location
 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vip_object">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
      <xs:element name="precinct">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="number" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="precinct_split_name" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="locality_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="electoral_district_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ward" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="mail_only" type="yesNoEnum" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="polling_location_id" type="xs:string" />
              <xs:element minOccurs="0" name="ballot_style_image_url" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="external_identifier_id" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="street_segment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start_house_number" type="xs:integer" />
              <xs:element name="end_house_number" type="xs:integer" />
              <xs:element name="odd_even_both" type="oebEnum" />
              <xs:element name="non_house_address" type="detailAddressType" />
              <xs:element name="unit_number" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="precinct_id" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="external_identifier">
            <xs:complexType>
              <xs:all>
                <xs:element type="identifierType" name="type"/>
                <xs:element type="xs:string" minOccurs="0" name="othertype"/>
                <xs:element type="xs:string" minOccurs="0" name="value"/>
              </xs:all>
              <xs:attribute name="id" type="xs:string" use="required" />
            </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="identifierType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="ocd-id"/>
    <xs:enumeration value="FIPS"/>
    <xs:enumeration value="national"/>
    <xs:enumeration value="state"/>
    <xs:enumeration value="local"/>
    <xs:enumeration value="OTHER"/>
  </xs:restriction>
</xs:simpleType>
</xs:schema>