vip_spec.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- working version of VIP schema based on 3.0 for comments
    changed all id types to string
    added ocdid to district 
    reference elements for polling location
 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="5.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vip_object">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
      <!-- structural VIP elements-->
        <xs:element minOccurs="1" maxOccurs="1" name="source">
          <xs:complexType>
            <xs:all>
              <xs:element name="name" type="xs:string" />
              <xs:element name="vip_id" type="xs:string" />
              <xs:element name="datetime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="description" type="xs:string" />
              <xs:element minOccurs="0" name="organization_url" type="xs:string" />
              <xs:element minOccurs="0" name="feed_contact_id" type="xs:string" />
              <xs:element minOccurs="0" name="tou_url" type="xs:string" />
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="election">
          <xs:complexType>
            <xs:all>
              <xs:element name="date" type="xs:date" />
              <xs:element minOccurs="0" name="election_type" type="xs:string" />
              <xs:element name="state_id" type="xs:string" />
              <xs:element minOccurs="0" name="statewide" type="yesNoEnum" />
              <xs:element minOccurs="0" name="registration_info" type="xs:string" />
              <xs:element minOccurs="0" name="absentee_ballot_info" type="xs:string" />
              <xs:element minOccurs="0" name="results_url" type="xs:string" />
              <xs:element minOccurs="0" name="polling_hours" type="xs:string" />
              <xs:element minOccurs="0" name="election_day_registration" type="yesNoEnum" />
              <xs:element minOccurs="0" name="registration_deadline" type="xs:date" />
              <xs:element minOccurs="0" name="absentee_request_deadline" type="xs:date" />
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <!-- end of structural VIP elements-->
        <!-- geographic elements -->
        <xs:element name="state">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element minOccurs="0" name="election_administration_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="polling_location_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="external_identifier_id" type="xs:string" />
              
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="locality">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="state_id" type="xs:string" />
              <xs:element name="type" type="xs:string" />
              <xs:element minOccurs="0" name="election_administration_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="polling_location_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="external_identifier_id" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="precinct">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="number" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="locality_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="electoral_district_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ward" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="mail_only" type="yesNoEnum" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="polling_location_id" type="xs:string" />
              <xs:element minOccurs="0" name="ballot_style_image_url" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="external_identifier_id" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="precinct_split">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="precinct_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="electoral_district_id" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="polling_location_id" type="xs:string" />
              <xs:element minOccurs="0" name="ballot_style_image_url" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="street_segment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start_house_number" type="xs:integer" />
              <xs:element name="end_house_number" type="xs:integer" />
              <xs:element name="odd_even_both" type="oebEnum" />
              <xs:element name="non_house_address" type="detailAddressType" />
              <xs:element name="unit_number" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="precinct_id" type="xs:string" />
              <xs:element minOccurs="0" name="precinct_split_id" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>       
        <!-- end of geographic elements-->
        <!-- administration elements-->
        <xs:element name="election_administration">
          <xs:complexType>
            <xs:all>
              <xs:element minOccurs="0" name="name" type="xs:string" />
              <xs:element minOccurs="0" name="eo_id" type="xs:string" />
              <xs:element minOccurs="0" name="ovc_id" type="xs:string" />
              <xs:element minOccurs="0" name="physical_address" type="simpleAddressType" />
              <xs:element minOccurs="0" name="mailing_address" type="simpleAddressType" />
              <xs:element minOccurs="0" name="elections_url" type="xs:string" />
              <xs:element minOccurs="0" name="registration_url" type="xs:string" />
              <xs:element minOccurs="0" name="am_i_registered_url" type="xs:string" />
              <xs:element minOccurs="0" name="absentee_url" type="xs:string" />
              <xs:element minOccurs="0" name="where_do_i_vote_url" type="xs:string" />
              <xs:element minOccurs="0" name="what_is_on_my_ballot_url" type="xs:string" />
              <xs:element minOccurs="0" name="rules_url" type="xs:string" />
              <xs:element minOccurs="0" name="voter_services" type="xs:string" />
              <xs:element minOccurs="0" name="hours" type="xs:string" />
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="election_official">
          <xs:complexType>
            <xs:all>
              <xs:element name="name" type="xs:string" />
              <xs:element minOccurs="0" name="title" type="xs:string" />
              <xs:element minOccurs="0" name="phone" type="xs:string" />
              <xs:element minOccurs="0" name="fax" type="xs:string" />
              <xs:element minOccurs="0" name="email" type="xs:string" />
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="polling_location">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="address" type="simpleAddressType" />
                    <xs:element minOccurs="0" maxOccurs="1" name="directions" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="photo_url" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="early_voting" type="yesNoEnum" />
                    <xs:element minOccurs="0" maxOccurs="1" name="drop_box" type="yesNoEnum" />
                    <xs:element name="hours_open_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required" />
            </xs:complexType>
        </xs:element>
        <xs:element name="electoral_district">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element minOccurs="0" name="type" type="xs:string" />
              <xs:element minOccurs="0" name="number" type="xs:integer" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="external_identifier_id" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <!--end of administration elements-->
        <!-- This replaces the "referendum" element in VIP -->
        <xs:element name="BallotMeasureContest" type="BallotMeasureContestType" maxOccurs="unbounded"/>
        <xs:element name="Contest" type="ContestType" maxOccurs="unbounded"/>
        <xs:element name="BallotSelection" type="BallotSelectionType" maxOccurs="unbounded"/>
        <!-- Generic string for a ballot measure (referendum) selection -->
        <xs:element name="BallotMeasureSelection">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="BallotSelectionType">
                <xs:sequence>
                    <xs:element name="selection" type="xs:string"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="BallotStyle">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderedContest" type="OrderedContestType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="infoUrl" type="xs:anyURI" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="Candidate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="party_id" type="xs:IDREF" minOccurs="0"/>
              <xs:element name="person_id" type="xs:IDREF" minOccurs="0"/>
              <xs:element name="external_identifier_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="ballotName" type="xs:string"/>
              <xs:element name="fileDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="isIncumbent" type="xs:boolean" minOccurs="0"/>
              <xs:element name="isTopTicket" type="xs:boolean" minOccurs="0"/>
              <xs:element name="postElectionStatus" type="CandidatePostElectionStatus" minOccurs="0"/>
              <xs:element name="preElectionStatus" type="CandidatePreElectionStatus" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="CandidateContest">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="ContestType">
                <xs:sequence>
                  <xs:element name="office_id" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="primary_party_id" type="xs:IDREF" minOccurs="0"/>
                  <xs:element name="numberElected" type="xs:integer" minOccurs="0"/>
                  <xs:element name="votesAllowed" type="xs:integer"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="CandidateSelection">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="BallotSelectionType">
                <xs:sequence>
                  <xs:element name="candidate_id" type="xs:IDREF" maxOccurs="unbounded"/>
                  <xs:element name="endorsement_party_id" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="isWriteIn" type="xs:boolean" use="optional"/>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="Contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="URL" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="addressLine" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="hours_open_id" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="Office">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="electoral_district_id" type="xs:IDREF"/>
              <xs:element name="contact_id" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="external_identifier_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="partisan" type="xs:boolean" minOccurs="0"/>
              <xs:element name="termEndDate" type="xs:date" minOccurs="0"/>
              <xs:element name="termStartDate" type="xs:date" minOccurs="0"/>
              <xs:element name="termType" type="TermType"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="Party">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="abbreviation" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="external_identifier_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="colorCode" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9a-f]{6}" />
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="logoUrl" type="xs:anyURI" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="PartyContest">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="ContestType"/>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="PartySelection">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="BallotSelectionType">
                <xs:sequence>
                  <xs:element name="PartyID" type="xs:IDREF" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="Person">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date_of_birth" type="xs:date" minOccurs="0"/>
              <xs:element name="contact_id" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="party_id" type="xs:IDREF" minOccurs="0"/>
              <xs:element name="firstName" type="xs:string" minOccurs="0"/>
              <xs:element name="lastName" type="xs:string"/>
              <xs:element name="middleName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="nickname" type="xs:string" minOccurs="0"/>
              <xs:element name="prefix" type="xs:string" minOccurs="0"/>
              <xs:element name="profession" type="xs:string" minOccurs="0"/>
              <xs:element name="suffix" type="xs:string" minOccurs="0"/>
              <xs:element name="title" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="RetentionContest">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="BallotMeasureContestType">
                <xs:sequence>
                  <xs:element name="candidate_id" type="xs:IDREF"/>
                  <xs:element minOccurs="0" name="office_id" type="xs:IDREF"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="hours_open">
          <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="schedule">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element type="xs:date" minOccurs="0" name="start_date" />
                      <xs:element type="xs:date" minOccurs="0" name="end_date" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="hours">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="1" name="start_time">
                                <xs:simpleType>
                                    <xs:restriction base="xs:time">
                                        <xs:pattern value="(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]|(24:00:00))(Z|[+-]((0[0-9]|1[0-3]):[0-5][0-9]|14:00))" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" name="end_time">
                                <xs:simpleType>
                                    <xs:restriction base="xs:time">
                                        <xs:pattern value="(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]|(24:00:00))(Z|[+-]((0[0-9]|1[0-3]):[0-5][0-9]|14:00))" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" type="xs:boolean" name="or_by_appointment" />
                      <xs:element maxOccurs="1" type="xs:boolean" name="only_by_appointment" />
                      <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="subject_to_change" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="external_identifier">
            <xs:complexType>
              <xs:all>
                <xs:element type="identifierType" name="type"/>
                <xs:element type="xs:string" minOccurs="0" name="othertype"/>
                <xs:element type="xs:string" minOccurs="0" name="value"/>
              </xs:all>
              <xs:attribute name="id" type="xs:string" use="required" />
            </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute fixed="3.0" name="schemaVersion" type="xs:decimal" use="required" />
    </xs:complexType>
 </xs:element>
          <xs:complexType name="ContestType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ballot_selection_id" type="xs:IDREF"/>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="external_identifier_id" type="xs:string"/>
              <xs:element name="electoral_district_id" type="xs:IDREF"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="abbreviation" type="xs:string"/>
              <xs:element minOccurs="0" name="ballotTitle" type="xs:string"/>
              <xs:element minOccurs="0" name="ballotSubTitle" type="xs:string"/>
              <xs:element minOccurs="0" name="hasRotation" type="xs:boolean"/>
              <xs:element minOccurs="0" name="voteVariation" type="VoteVariation"/>
              <xs:element minOccurs="0" name="otherVoteVariation" type="xs:string"/>
              <xs:element minOccurs="0" name="electorate_specification" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
          <xs:complexType name="BallotSelectionType">
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
          
          <xs:complexType name="BallotMeasureContestType">
            <xs:complexContent>
              <xs:extension base="ContestType">
                <xs:sequence>
                  <xs:element minOccurs="0" name="ConStatement" type="xs:string"/>
                  <xs:element minOccurs="0" name="FullText" type="xs:string" />
                  <xs:element minOccurs="0" name="ProStatement" type="xs:string"/>
                  <xs:element minOccurs="0" name="SummaryText" type="xs:string"/>
                  <xs:element minOccurs="0" name="ballotMeasureType" type="BallotMeasureType"/>
                  <xs:element name="otherBallotMeasureType" type="xs:string"/>
                  <xs:element name="effectOfAbstain" type="xs:string"/>
                  <xs:element name="passageThreshold" type="xs:string"/>
                  <!-- Info URL added from current VIP spec. -->
                  <xs:element name="infoUrl" type="xs:anyURI"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
          <xs:complexType name="OrderedContestType">
            <xs:sequence>
              <xs:element name="contest_id" type="xs:IDREF"/>
              <xs:element name="ballot_selection_id" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
    <xs:complexType name="detailAddressType">
        <xs:all>
            <xs:element minOccurs="0" name="house_number" type="xs:integer"/> 
            <xs:element minOccurs="0" name="house_number_prefix" type="xs:string"/> 
            <xs:element minOccurs="0" name="house_number_suffix" type="xs:string"/> 
            <xs:element minOccurs="0" name="street_direction" type="xs:string"/> 
            <xs:element name="street_name" type="xs:string"/> 
            <xs:element minOccurs="0" name="street_suffix" type="xs:string"/> 
            <xs:element minOccurs="0" name="address_direction" type="xs:string"/> 
            <xs:element minOccurs="0" name="apartment" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zip" type="xs:string"/>
        </xs:all> 
    </xs:complexType> 
    <xs:complexType name="langString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:language" use="required"/>
            </xs:extension>
    </xs:simpleContent>
    </xs:complexType>
        <xs:complexType name="internationalizedText">
            <xs:sequence>
                <xs:element name="text" type="langString" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="internationalized_text_id" type="xs:string"/>   
    </xs:complexType>  
    <xs:complexType name="simpleAddressType">
        <xs:all>
            <xs:element minOccurs="0" name="location_name" type="xs:string"/> 
            <xs:element name="line1" type="xs:string"/>
            <xs:element minOccurs="0" name="line2" type="xs:string"/>
            <xs:element minOccurs="0" name="line3" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zip" type="xs:string"/>
        </xs:all> 
    </xs:complexType> 
    <xs:simpleType name="identifierType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="ocd-id"/>
        <xs:enumeration value="FIPS"/>
        <xs:enumeration value="national"/>
        <xs:enumeration value="state"/>
        <xs:enumeration value="local"/>
        <xs:enumeration value="OTHER"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="votesWithCertification">
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="certification" type="certificationEnum" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  <!-- Start of enumerated values -->
  <xs:simpleType name="certificationEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="unofficial_partial"/>
      <xs:enumeration value="unofficial_complete"/>
      <xs:enumeration value="certified"/>
      <xs:enumeration value="Unofficial_partial"/>
      <xs:enumeration value="Unofficial_complete"/>
      <xs:enumeration value="Unofficial_Partial"/>
      <xs:enumeration value="Unofficial_Complete"/>
      <xs:enumeration value="Certified"/>
    </xs:restriction>
  </xs:simpleType> 

  <xs:simpleType name="yesNoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
    </xs:restriction>
  </xs:simpleType> 
  

  <xs:simpleType name="oebEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="odd"/>
      <xs:enumeration value="even"/>
      <xs:enumeration value="both"/>
      <xs:enumeration value="Odd"/>
      <xs:enumeration value="Even"/>
      <xs:enumeration value="Both"/>
      <xs:enumeration value="ODD"/>
      <xs:enumeration value="EVEN"/>
      <xs:enumeration value="BOTH"/>
    </xs:restriction>
  </xs:simpleType> 

<xs:simpleType name="BallotMeasureType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="ballot-measure"/>
    <xs:enumeration value="initiative"/>
    <xs:enumeration value="referendum"/>
    <xs:enumeration value="other"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="CandidatePostElectionStatus">
  <xs:restriction base="xs:string">
    <xs:enumeration value="advanced-to-runoff"/>
    <xs:enumeration value="projected-winner"/>
    <xs:enumeration value="winner"/>
    <xs:enumeration value="withdrawn"/>
    <xs:enumeration value="write-in"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="CandidatePreElectionStatus">
  <xs:restriction base="xs:string">
    <xs:enumeration value="filed"/>
    <xs:enumeration value="qualified"/>
    <xs:enumeration value="withdrawn"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="TermType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="full-term"/>
    <xs:enumeration value="unexpired-term"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VoteVariation">
  <!-- NOTE: This is an absolute mess and conflates all sorts of concepts.
       What if there's a super-majority RCV contest? Just ... ugh. Putting
       this here for the sake of initial compatability but it just needs
       to be nuked from orbit and started all over again.
    -->
  <xs:restriction base="xs:string">
    <xs:enumeration value="1-of-M"/>
    <xs:enumeration value="approval"/>
    <xs:enumeration value="cumulative"/>
    <xs:enumeration value="majority"/>
    <xs:enumeration value="N-of-M"/>
    <xs:enumeration value="other"/>
    <xs:enumeration value="plurality"/>
    <xs:enumeration value="proportional"/>
    <xs:enumeration value="range"/>
    <xs:enumeration value="RCV"/>
    <xs:enumeration value="RCV-borda"/>
    <xs:enumeration value="super-majority"/>
  </xs:restriction>
</xs:simpleType>
<!-- End of enumerated values -->
  
</xs:schema>
